/* _colours.css */

:root {
    
    /*  */
    
    --primary-blue:#00aeef;
    --primary-lime:#c1d82f;
    
    --light_grey:#6b757d;}
    --dark_grey:#4d4d4f;}

    --dark-green:#00a550;}
    
    --secondary-rubine:#e20076;}
	--secondary-purple:#9e2487;}
	--secondary-red:#ee2e3a;}
	--secondary-orange:#ff8200;}
	--secondary-lavender:#9fade4;}

	--tertiary-green:#009578;}
	--tertiary-lemon:#eda900;}
	--tertiary-strong_lime:#a2c04e;}

    --primary-blue-85: rgba(0,174,239,0.85);

    
}
