/* typography.css */

  @import url("https://use.typekit.net/uag3sjd.css");
  @import "../font/hevetica.css";

:root {
      --primary-heading:700 16px helvetica-bold, sans-serif;
      --primary-regular:400 16px helvetica-regular, sans-serif;
      --primary-body:400 16px corporate-s, sans-serif;
}

/*Corporate S Pro Regular*/
._primary-body {
    font-family: corporate-s,sans-serif;
    font-weight: 400;
    font-style: normal;
}

._primary-bold {
    font-family: corporate-s,sans-serif;
    font-weight: 700;
    font-style: normal;
}

._headings {
    font-family: helvetica-bold,sans-serif;
    font-weight: 700;
    font-style: normal;
}


h1, p { 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

h1, h2, h3, h4 {
    font-family: helvetica-bold,sans-serif;
    font-weight: 700;
    font-style: normal;
/*    color: white;*/
}

h1.title {
    margin-bottom: 1rem;
}
h1.subhead {
    font-family: helvetica-regular,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-blue);
}

#_sect_01 ._chunk h2 {
    color: var(--light_grey);
}

h1 {
    font-size: 52px;
    line-height: 1.1;
    margin-top: 0;
}

h2 {
    font-size: 50px;
    line-height: 1.1;
    margin-top: 0;
}

h2.subtitle {
    font-size: 36px;
}

p {
    font-family: corporate-s,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0;
}
._text_wrapper ul {
    margin-bottom: 0;
}

p.large {
    font-size: 28px;
}

.img_credit p {
    color: white;
}

._text_wrapper li {
    font-family: corporate-s,sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;
    line-height: 1.5;
    margin-left: -1rem;
}


/* --------------------------------------- */
/* responsive */
/* --------------------------------------- */
/*

* {
  --body-font:var(--primary-body);
  --header-font:var(--primary-heading);

  --responsive: calc((var(--min-font) * 1rem) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1400 - 420)));
}


h1, .h1 {
  --max-font: 5.5;
  --min-font: 4;
  font: var(--header-font);
  font-size: var(--responsive);
  line-height: 1.1;
}



h2, .h2 {
    --max-font: 4.5;
  --min-font: 4;
  font: var(--header-font);
  font-size: var(--responsive);
  line-height: 1.1;
}
*/

@media screen and (max-width: 64rem){
    h1{
        font-size:2.5rem;
    }
    h2{
        font-size:1.8rem;
    }
    p{
        font-size:1.2rem;
    }
}